ClientWpf/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_RSA_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:RSA_Connect" />
  </wsdl:message>
  <wsdl:message name="IService1_RSA_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:RSA_ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Verification_InputMessage">
    <wsdl:part name="parameters" element="tns:Verification" />
  </wsdl:message>
  <wsdl:message name="IService1_Verification_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IService1_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Authorization_InputMessage">
    <wsdl:part name="parameters" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:message name="IService1_Authorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Count_Simplex_InputMessage">
    <wsdl:part name="parameters" element="tns:Count_Simplex" />
  </wsdl:message>
  <wsdl:message name="IService1_Count_Simplex_OutputMessage">
    <wsdl:part name="parameters" element="tns:Count_SimplexResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Count_Generic_InputMessage">
    <wsdl:part name="parameters" element="tns:Count_Generic" />
  </wsdl:message>
  <wsdl:message name="IService1_Count_Generic_OutputMessage">
    <wsdl:part name="parameters" element="tns:Count_GenericResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="RSA_Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RSA_Connect" message="tns:IService1_RSA_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RSA_ConnectResponse" message="tns:IService1_RSA_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Verification">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Verification" message="tns:IService1_Verification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/VerificationResponse" message="tns:IService1_Verification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Register" message="tns:IService1_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterResponse" message="tns:IService1_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Authorization" message="tns:IService1_Authorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AuthorizationResponse" message="tns:IService1_Authorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Count_Simplex">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Count_Simplex" message="tns:IService1_Count_Simplex_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Count_SimplexResponse" message="tns:IService1_Count_Simplex_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Count_Generic">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Count_Generic" message="tns:IService1_Count_Generic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Count_GenericResponse" message="tns:IService1_Count_Generic_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#NetTcpBinding_IService1_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RSA_Connect">
      <soap12:operation soapAction="http://tempuri.org/IService1/RSA_Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verification">
      <soap12:operation soapAction="http://tempuri.org/IService1/Verification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/IService1/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authorization">
      <soap12:operation soapAction="http://tempuri.org/IService1/Authorization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Count_Simplex">
      <soap12:operation soapAction="http://tempuri.org/IService1/Count_Simplex" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Count_Generic">
      <soap12:operation soapAction="http://tempuri.org/IService1/Count_Generic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="NetTcpBinding_IService1" binding="tns:NetTcpBinding_IService1">
      <soap12:address location="net.tcp://localhost:8302/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8302/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>USER-PC\User</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>